// Buttons adhocgraFX bootstrap overides and variations - Base styles

// Core auch für button allgemein
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  .ie7-inline-block();
  padding: .5em 1em;
  margin-top: 1em;
  margin-bottom: 0; // For input.btn
  margin-right: .5em;
  font-size: @font-size;
  line-height: @line-height;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  .border-radius(@baseBorderRadius);
  .ie7-restore-left-whitespace(); // Give IE7 some love
  .box-shadow(none);
  text-shadow: none;

  // Hover/focus state
  &:hover,
  &:focus {
    text-decoration: none;
    text-shadow: none;
  }

  // Focus state for keyboard and accessibility
  &:focus {
    .tab-focus();
  }

  // Active state
  &.active,
  &:active {
    background-image: none;
    outline: 0;
    .box-shadow(none);
    text-shadow: none;
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-image: none;
    .opacity(65);
    .box-shadow(none);
  }
}

// button colors and  - backgrounds
// default - concrete
button {
  color: @concrete-darker;
  background: @clouds-dark;
  &:hover,
  &:focus {
    color: @whitesmoke;
    background: @concrete;
  }
  &.active,
  &:active {
    color: @whitesmoke;
    background: @concrete-dark;
  }
}

// primary > brand color
.button-primary {
  color: @whitesmoke-light;
  background: @brand-color;
  &:hover,
  &:focus {
    color: @whitesmoke;
    background: @brand-color-dark;
  }
  &.active,
  &:active {
    color: @whitesmoke;
    background: @brand-color-darker;
  }
}

// default light gray
.button-default,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: @gray;
  background: @gainsboro-light;
  &:hover,
  &:focus {
    color: @gray;
    background: @gainsboro;
  }
  &.active,
  &:active {
    color: @whitesmoke;
    background: @gainsboro-dark;
  }
}

// Warning orange
.button-warning {
  color: @whitesmoke-light;
  background: @orange;
  &:hover,
  &:focus {
    color: @whitesmoke;
    background: @orange-dark;
  }
  &.active,
  &:active {
    color: @whitesmoke;
    background: darken(@orange-dark, 5%);
  }
}

// error red
.button-error {
  color: @whitesmoke-light;
  background: @red;
  &:hover,
  &:focus {
    color: @whitesmoke;
    background: @red-dark;
  }
  &.active,
  &:active {
    color: @whitesmoke;
    background: darken(@red-dark, 5%);
  }
}

// success turquoise
.button-success {
	color: @whitesmoke-light;
	background: @turquoise;
	&:hover,
	&:focus {
		color: @whitesmoke;
		background: @turquoise-dark;
	}
	&.active,
	&:active {
		color: @whitesmoke;
		background: darken(@turquoise-dark, 5%);
	}
}

// info blue
.button-info {
  color: @whitesmoke-light;
  background: @blue;
  &:hover,
  &:focus {
    color: @whitesmoke;
    background: @blue-dark;
  }
  &.active,
  &:active {
    color: @whitesmoke;
    background: darken(@blue-dark, 5%);
  }
}

// dark > midnightblue
.button-dark {
  color: @whitesmoke-light;
  background-color: @midnightblue;
  &:hover,
  &:focus {
    color: @whitesmoke;
    background: @midnightblue-dark;
  }
  &.active,
  &:active {
    color: @whitesmoke;
    background: @midnightblue-darker;
  }
}

// light > gold
.button-light {
	color: @gray;
	background: @gold-lighter;
	&:hover,
	&:focus {
		color: @gray;
		background: @gold-light;
	}
	&.active,
	&:active {
		color: @whitesmoke;
		background: @gold;
	}
}


// Button Sizes

// Large
.large {
  padding:padding: .5em 1em;
  font-size: @font-size-large;
  .border-radius(3em);
}

// Small
.small {
  padding: padding: .25em .5em;
  font-size: @font-size-small;
  .border-radius(2em);
}

// Mini
.mini {
  padding: padding: .2em .4em;
  font-size: @font-size-mini;
  .border-radius(1em);
}