/* #Forms
================================================== */

form {
	margin-bottom: @paragraph-val;
}

fieldset {
	margin-bottom: @paragraph-val;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="file"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="number"],
textarea,
select {
	border: 1px solid @grayLight;
	padding: .25em .5em;
	outline: none;
	.border-radius(.2em);
	color: @grayDark;
	margin: 0;
	max-width: 100%;
	display: block;
	margin-bottom: .5em;
	background: @white;

	&:focus {
		border: 1px solid @gray;
		color: @grayDarker;
		.box-shadow(0 0 3px rgba(0, 0, 0, .2));
	}
}


select,
input[type="color"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime-local"], {
	padding: 0;
}

textarea {
	min-height: 10em;
}

label,
legend {
	display: block;
	font-size: .875em;
}

input[type="checkbox"] {
	display: inline;
}

label span,
legend span {
	font-weight: normal;
	font-size: .875em;
	color: @gray;
}
