// Colors and grays

// Grays komplette Grauwerttabelle in 5%

@black:                 #000000;
@gray5:                 #0D0D0D;
@gray-darker:           #1A1A1A;
@gray15:                #262626;
@gray-dark:             #333333;
@gray25:                #404040;
@gray30:                #4D4D4D;
@gray35:                #595959;
@gray:                  #666666;
@gray45:                #737373;
@gray50:                #7F7F7F;
@gray55:                #8C8C8C;
@gray-light:            #999999;
@gray65:                #A6A6A6;
@gray70:                #B3B3B3;
@gray75:                #BFBFBF;
@gray-lighter:          #CCCCCC;
@gray85:                #D9D9D9;

@gainsboro-darker:      darken(@gainsboro, 10%); ;
@gainsboro-dark:        darken(@gainsboro, 5%);
@gainsboro:             #dcdcdc;
@gainsboro-light:       lighten(@gainsboro, 5%);;

@gray90:                #E5E5E5;
@gray95:                #F2F2F2;

@whitesmoke-dark:       darken(@whitesmoke, 5%);
@whitesmoke:            #f5f5f5;
@whitesmoke-light:      #f9f9f9;

@smoke:                 #fefefe;

@white:                 #ffffff;


// Accent colors

// TODO Standards festlegen für alert boxes, buttons links, brands ...

@clouds:                #F0F5FF;
@clouds-dark:           #D3D8E0;

@concrete:              #AAAEB5;
@concrete-dark:         #6E7175;
@concrete-darker:       #3C3D40;

@midnightblue:          #34495E;
@midnightblue-dark:     #2C3E50;
@midnightblue-darker:   #253443;

@turquoise:             #1ABC9C;
@turquoise-dark:        #16A085;

@blue:                  #3498DB;
@blue-dark:             #2980B9;

@green:                 #2ECC71;
@green-dark:            #27AE60;

@red:                   #E74C3C;
@red-dark:              #C0392B;

@yellow:                #F1C40F;
@yellow-dark:           #F39C12;

@orange:                #E67E22;
@orange-dark:           #D35400;

// light light barranco gold
@gold-lighter:          #F0EBDC;
@gold-light:            #E1DCBE;
@gold:                  #AAA078;

// btand color je nach job
@brand-color-light:     lighten(@brand-color, 5%);
@brand-color:           #748dc1;
@brand-color-dark:      darken(@brand-color, 5%);
@brand-color-darker:    darken(@brand-color, 10%);

// link colors und brand colors in sync? TODO zur Diskussion
@link-color:            @brand-color;
@link-hover-color:      @brand-color-light;
@link-focus-color:      @brand-color-dark;
@link-visited-color:    @brand-color-darker;


// Typeplate inspired font variables

@weight: normal;

@line-height: 1.4;
@line-height-medium: 1.5;
@line-height-large: 1.6;

@line-height-heading: 1.1;

@font-size: 100%;
@font-size-medium: 112.5%; // percentage value (16 * 112.5% = 18px)
@font-size-large: 125%; // percentage value (16 * 125% = 20px)

@font-size-small: 87.5%; // percentage value (16 * 87.5% = 14px)
@font-size-mini: 75%; // percentage value (16 * 75% = 12px)


// body and basic text colors

@body-color: @whitesmoke-light;
@body-copy-color: @gray-dark;
@heading-color: @gray;
@subheading-color: @gray-light;


// TypeScale Unit

@type-scale-unit-value: em;


// Text Indentation Value, space between paragraphs

@indent-val: 1.5em;
@paragraph-val: @indent-val / 2;



// bootstrap variables

@baseBorderRadius: .2em;
@shadow:                @gainsboro;