// Colors and grays

// Grays TODO komplette Grauwerttabelle erarbeiten

@white:                 #fff;
@smoke:                 #fefefe;
@lightwhitesmoke:       #f9f9f9;
@whitesmoke:            #f5f5f5;
@grayLighter:           #eee;
@gainsboroLight:        #ececec;
@gainsboro:             #dcdcdc;
@gainsboroDark:         #cbcbcb;
@gainsboroDarker:       #bcbcbc;
@grayLight:             #999;
@gray:                  #666;


//adhoc
@grayDark:              #333;
@grayDarker:            #222;
@black:                 #000;

// Accent colors

// TODO Standards festlegen für alert boxes, buttons links, brands ...

@clouds:                #F0F5FF;
@cloudsDark:            #D3D8E0;
@concrete:              #AAAEB5;
@concreteDark:          #6E7175;
@concreteDarker:        #3C3D40;

@midnightblue:          #34495E;
@midnightblueDark:      #2C3E50;
@midnightblueDarker:    #253443;

@turquoise:             #1ABC9C;
@turquoiseDark:         #16A085;

@blue:                  #3498DB;
@blueDark:              #2980B9;

@brand-color-light:     #99BAFF;
@brand-color:           #748dc1;
@brand-color-dark:      #2C4D91;
@brand-color-darker:    #244079;

@green:                 #2ECC71;
@greenDark:             #27AE60;

@red:                   #E74C3C;
@redDark:               #C0392B;

@yellow:                #F1C40F;
@yellowDark:            #F39C12;

@orange:                #E67E22;
@orangeDark:            #D35400;

// light light barranco gold
@lightlightgold:        #F0EBDC;
@lightgold:             #E1DCBE;
@gold:                  #AAA078;

// link colors
@link-color:            @brand-color;
@link-hover-color:      @brand-color-light;
@link-focus-color:      @brand-color-dark;
@link-visited-color:    @brand-color-darker;


// Typeplate inspired font variables

@weight: normal;

@line-height: 1.4;
@line-height-medium: 1.5;
@line-height-large: 1.6;

@line-height-heading: 1.1;

@font-size: 100%;
@font-size-medium: 112.5%;
// percentage value (16 * 112.5% = 18px)
@font-size-large: 125%;
// percentage value (16 * 125% = 20px)

// body and basic text colors

@body-color: @lightwhitesmoke;
@body-copy-color: @grayDark;
@heading-color: @gray;
@subheading-color: @grayLight;

// TypeScale Unit

@type-scale-unit-value: em;

// Text Indentation Value, space between pargraphs

@indent-val: 1.5em;
@paragraph-val: @indent-val / 2;

// bootstrap variables

@baseBorderRadius: .2em;